<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579015164902-2hio4fnaiuflso4da63k7tkskpsvensg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579015164902-2hio4fnaiuflso4da63k7tkskpsvensg</string>
	<key>API_KEY</key>
	<string>AIzaSyAPpdTSexHPF65GwAt4LgoL_n_3KRO0-Ks</string>
	<key>GCM_SENDER_ID</key>
	<string>579015164902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.faceRecognizeDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-face-recognize</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-face-recognize.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579015164902:ios:c1b4c1fe9df7d338e78c27</string>
</dict>
</plist>